body {
    background: rgb(255, 237, 102);
    background: linear-gradient(90deg, rgba(255, 237, 102, 0.4310378086419753) 17%, rgba(255, 209, 209, 1) 81%);
}

html{
    font-family:"Helvetica Neue";
}

#body{
    width:800px;
    margin:0 auto;
    /* border:1px red solid; */
}

#hello{
    color:#FF00BB;
    font-size:24px;
    font-weight:medium;
    margin-left:40px;
    margin-bottom:-20px;
    margin-top:140px;
}

#intro-big{
    font-family: "Futura";
    font-size:60px;
    color:#FF00BB;
    font-weight: bold;
    line-height: 1.2;
}