

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .95;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .95;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .95;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .95;
    }
}


@-webkit-keyframes slideIn {
    0% {
        transform: translateX(-900px);
    }

    100% {
        transform: translateX(0);
    }
}

@-moz-keyframes slideIn {
    0% {
        transform: translateX(-900px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-900px);
    }

    100% {
        transform: translateX(0);
    }
}

body {
    background: rgb(255, 237, 102);
    background: linear-gradient(90deg, rgba(255, 237, 102, 0.4310378086419753) 17%, rgba(255, 209, 209, 1) 81%);
}

ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

html {
    font-family: "Helvetica Neue";
}

#body {
    width: 800px;
    margin: 0 auto;
    /* border:1px red solid; */
    border-bottom: 3px #FF00BB solid;
    padding-bottom: 20px;
}

@media only screen and (max-width:480px){
    #body{
        width:400px;
        }
}

#hello {
    color: #FF00BB;
    font-size: 24px;
    font-weight: medium;
    margin-left: 40px;
    margin-bottom: -20px;
    margin-top: 140px;
    animation: slideIn .9s linear;
}

@media only screen and (max-width:480px){
    #hello{
        margin-bottom:-5px;
        margin-left:20px;
        font-size:20px;
        margin-top:60px;
    }
}

#intro-big {
    font-family: "Futura";
    font-size: 60px;
    color: #FF00BB;
    font-weight: bold;
    line-height: 1.2;
    animation: slideIn .9s linear;
}

@media only screen and (max-width:500px){
    #intro-big {
        font-family: "Futura";
        font-size: 30px;
        color: #FF00BB;
        font-weight: bold;
        line-height: 1.2;
        animation: slideIn .9s linear;
        width:400px;
    }
      
}


.grid-element {
    background-color: rgba(255, 255, 255, .5);
    box-shadow: 5px 5px 8px #FAAE00;
    width: 280px;
    height: 500px;
    padding: 20px;
    margin: 20px;
    color: #fff;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    transition: .2s all linear;
}

.grid-element:hover {
    cursor: pointer;
    box-shadow: 3px 3px 5px #FAAE00;
    border: 1px #FF00BB solid;
    opacity: 1;
}



/* #tag-line {
    color: white;
    font-size: 28px;
    font-family: "helvetica neue";
    font-weight: medium;
} */


#grid {
    width: 700px;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media only screen and (max-width:480px){
    #grid{
        width:400px;
        margin-top:40px;
        /* margin: 0 auto;
        border:1px red solid; */
    }

    .grid-element{
        margin:20px auto;
        width:300px;
    }
}

.name {
    color: #FF00BB;
    font-family: "futura";
    font-weight: bold;
    text-align: center;

}

.image-container {
    height: 300px;
    width: 300px;
    /* border:1px red solid; */
}

.image{
    height: 300px;
    width: 300px; 
}

.stackList {
    display: grid;
    width: 280px;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;

}

.stackList-element {
    color: #FAAE00;
    opacity: .9;
    margin-bottom: 0px;
}

footer {
    display:flex;
    width: 100%;
    padding: 10px 0;
    height:30px;
    background-color: rgba(255, 255, 255, 0.75);
    /* display:flex; */
    justify-content: flex-end;
    bottom:0;
    /* animation: fadeIn 1s linear; */
}

.social-icons-wrap{
    padding-right:20px;
}

.social-icon{
    margin-left:10px;
    font-size:24px;
    color:#FAAE00;
    opacity:.8;
}

.social-icon:hover{
    opacity:1;
}

.social-icon:active{
    color:#FF00BB;
    opacity:.8;
}

