form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom:200px;

}

@media only screen and (max-width:800px){
    form{
        width:350px;
    }
}

#contact {
    width: 800px;
    margin: 0 auto;
    /* border:1px red solid; */
    border-bottom: 3px #FF00BB solid;
    padding-bottom: 20px;
    margin-top: 40px;
    /* margin-bottom:40px; */
}

@media only screen and (max-width:800px) {
    #contact {
        width: 450px;
        /* border:1px red solid; */
    }
}

@media only screen and (max-width:480px) {
    #contact {
        width: 350px;
        /* border:1px red solid; */
    }
}


.contact-wrap{
    width:700px;
    margin:0 auto;
    text-align:center;
}

@media only screen and (max-width:800px) {
   .contact-wrap {
        width: 450px;
        /* border:1px red solid; */
    }
}

@media only screen and (max-width:480px) {
    .contact-wrap {
        width: 350px;
        /* border:1px red solid; */
    }
}


@media only screen and (max-width:800px) {
    .contact {
        width: 450px;
        /* border:1px red solid; */
    }
}

@media only screen and (max-width:480px) {
    .contact {
        width: 350px;
        /* border:1px red solid; */
    }
}


label {
    margin-top: 20px;
}

.text-area {
    height: 300px;
    border: 1px #FF00BB solid;
    border-radius: 5px;
    margin-top:5px;
}

input {
    border: 1px #FF00BB solid;
    border-radius: 5px;
    height:30px;
    margin-top:5px;
}

#submit {
    width: 100px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 20px;
}

.text-contact{
    margin-bottom:-20px;
    margin-top:80px;
    /* font-weight: bold; */
    letter-spacing:1.1px;
    /* padding:20px;
    text-align: center; */
}