
nav {
    width: 100%;

}

.nav-ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    /* border: 1px red solid; */
    justify-content: space-between;
    padding: 20px 30px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.75);


}

@media only screen and (max-width:480px){
    .nav-ul{
        flex-direction:column;
    }
} 

#nav-logo {
    margin: 0;
    font-size:28px;
    color:#FFAE00;
    font-family:"Futura";
    font-weight: bold;
}

.nav-btns {
    display: flex;
    width: 250px;
    justify-content: space-between;
   
}

@media only screen and (max-width:480px){
    .nav-btns{
        margin-top:10px;
        padding-bottom:10px;
    }
}

.nav-btn-style{
    font-family:"Futura";
    font-size:20px;
    color:#FF00BB;
    text-decoration: none;
}

.nav-btn-style:hover{
   color:#FFAE00;
}

